html, body {
    height: 100%;
    background-color: red;
}

.container {
    position: relative;
    top: 50%;
    transform: translateY(-100%);
    text-align: center;
}

/*.unPoof{*/
    /*visibility: visible;*/
/*}*/

.poof{
    visibility: hidden;
}