html, body {
    height: 100%;

}

.container {
    position: relative;
    top: 20%;
    transform: translateY(-100%);
    text-align: center;
}

/*.unPoof{*/
    /*visibility: visible;*/
/*}*/

.poof{
    visibility: hidden;
}
